<footer class="footer">
  <small>
    The <a href="http://citraalam.id/">Citra Alam App</a>
    by <a href="http://awakeningsuite.myshopify.com">Awakening Suite Suite</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://citraalam.id/">Citra Alam</a></li>
    </ul>
  </nav>
</footer>
